$site_purple : #df6add;

@font-face {
    font-family: minecraft;
    src: url(../fonts/minecraft.ttf);
};

@font-face {
    font-family: McRegular;
    src: url(../fonts/McRegular.otf);
};

main{

    .jumbo-container{
        max-width: 100vw;
        height: 100vh;
        position: relative;
        min-height: 500px;

        img{
            width: 100%;
            height: 100%;
            filter: brightness(0.7);
            object-fit: cover;
        }

        .jumbo-text{
            position:absolute;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            flex-direction: column;

            h1{
                font-family: Minecraft;
                color: $site_purple;
                font-size: 100px;
                font-weight: 900;
            }

            h3{
                font-size: 70px;
                color: white;
                font-family: McRegular;
            }
        }

        .online-players-container{
            position: absolute;
            top: calc(2rem + 84px);
            right: 2rem;

            h3{
                color: #fff;
                font-family: McRegular;
                font-size: x-large;

                em{
                    font-style: normal;
                    color: $site_purple;
                    font-family: McRegular;
                }
            }
        }
    }

    .servers-container{

        .servers-banner{
            display: flex;
            width: 100%;
            color: white;
            height: 250px;
            position: relative;
            align-items: center;
            overflow: hidden;

            img{
                height: 100%;
                width: 100%;
                transform: rotate(180deg);
                filter: brightness(0.7);
            }

            h1{
                position: absolute;
                left: 15%;
                font-size: xxx-large;
                font-family: minecraft;
                z-index: 2;
            }

            .animation{
                position: absolute;
                filter: invert(1);
                background-size: contain;
                height: 300%;
                background-position-y: center;
            }
        }
    }
}

.gallery {
    width: 50%;
    margin: 0 auto;
  }
  
  .gallery-cell {
    width: 60%;
    height: 350px !important;
    margin-right: 10px;
    transform: scale(0.75);
    transition: transform 0.3s;
  }
  .text-center{
    text-align:center
  }

  .is-selected{
      transform: scale(1);
  }