$site_purple : #df6add;

main{
    background-color: #1e1e1e;

    .home-links{
        position: sticky;
        width: 100%;
        top: calc(100vh - 57px);
        display: flex;
        justify-content: center;
        border-top: 1px solid rgba($color: #ffffff, $alpha: 0.3);
        backdrop-filter: blur(2px) brightness(0.7);
        z-index: 3;

        .links-centered{
            width: 50%;
            display: flex;
            justify-content: space-evenly;

            a{
                color: #fefefe;
                text-decoration: none;
                padding: 1rem 0;
                width: calc(100% / 3);
                text-align: center;
                font-weight: 900;
                font-size: x-large;
                border-left: 1px solid rgba($color: #ffffff, $alpha: 0.3);
                font-family: minecraft;
            }

            a:last-of-type{
                border-right: 1px solid rgba($color: #ffffff, $alpha: 0.3);
            }
        }
    }

    .jumbo-container{
        max-width: 100vw;
        height: 100vh;
        position: relative;
        min-height: 500px;

        img{
            width: 100%;
            height: 100%;
            filter: brightness(0.7);
            object-fit: cover;
        }

        .jumbo-text{
            position:absolute;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            flex-direction: column;

            h1{
                font-family: Minecraft;
                color: $site_purple;
                font-size: 100px;
                font-weight: 900;
            }

            h3{
                font-size: 70px;
                color: white;
                font-family: McRegular;
            }
        }


        .server-infos{
            position: absolute;
            top: calc(2rem + 84px);
            right: 2rem;

            h3{
                color: #fff;
                font-family: McRegular;
                font-size: x-large;
                margin-bottom: 1rem;

                em{
                    font-style: normal;
                    color: $site_purple;
                    font-family: McRegular;
                }
            }
        }
    }

    .servers-container{

        .servers-banner{
            display: flex;
            width: 100%;
            color: white;
            height: 250px;
            position: relative;
            align-items: center;
            overflow: hidden;

            img{
                height: 100%;
                width: 100%;
                transform: rotate(180deg);
                filter: brightness(0.7);
            }

            h1{
                position: absolute;
                left: 15%;
                font-size: xxx-large;
                font-family: minecraft;
                z-index: 2;
            }

            .animation{
                position: absolute;
                filter: invert(1);
                background-size: contain;
                height: 300%;
                background-position-y: center;
            }
        }

        .reverse{
            flex-direction: row-reverse;
        }

        .server{
            display: flex;
            align-items: center;

            img{
                width: 40%;
            }

            .server-text-container{
                width: 60%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .card{
                    width: 75%;
                    position: relative;
                    bottom: 0;
                    text-align: center;
                    color: white;
                    padding: 2.5em 3em;
                    border-radius: 15px;
                    transition: bottom 0.3s;
                    font-size: large;

                    h1{
                        margin-bottom: 1rem;
                        font-family: minecraft;
                    }

                    &:hover{
                        bottom: 10px;
                    }
                }

                &::before {
                    position: absolute;
                    content: '';
                    inset: 0;
                    z-index: -1;
                    border-radius: 30px;
                    -webkit-filter: blur(20px);
                    -moz-filter: blur(20px);
                    -o-filter: blur(20px);
                    -ms-filter: blur(20px);
                }
            }
        }
    }

    .social-container{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 5rem 0;

        h3{
            color: #8e8e8e;
        }

        .social-links{
            width: 75%;
            display: flex;
            flex-wrap: wrap;
            align-items: center; 
            margin-top: 2.5rem;        

            .link{
                width: calc(100% / 6);
                padding: 3rem;

                img{
                    width: 100%;
                    transition: all 0.5s;
                }

                &:hover{
                    
                    img{
                        transform: scale(1.25);
                    }
                }
            }
        }
    }

    .carousel-container{
        display: flex;
        padding: 3rem 5rem;
        background-color: #0d0d0d;
    
        .desc-container{
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
    
            em{
                font-style: normal;
                font-family: minecraft;
            }
        }
    
        .gallery {
            width: 70%;
            padding-bottom: 2rem;
        
            .gallery-cell {
                display: flex;
                align-items: center;
                width: 60%;
                height: 350px !important;
                margin-right: 10px;
                transform: scale(0.75);
                transition: transform 0.5s;
                background-color: #2e2e2e;
                border-radius: 30px;
                margin: 1rem 0;
                filter: blur(4px);
            
                img{
                    object-fit: cover;
                }
            
                .cell-text{
                    margin: 0 auto;
                    text-align: center;
                    color: white;
        
                    h1{
                        font-family: minecraft;
                        margin-bottom: 0.5rem;
                    }
                }
            }    
        
            .is-selected{
                transform: scale(1);
                filter: blur(0);
                transition: blur(0.5s);
            }    
        
            ol{
                margin-top: -2rem;
                position: static;
            }

            .dot{
                background-color: #c2bbbb;
            }

            .next{
                right: -25px;
            }

            .previous{
                left: -25px;
            }
        }
    }
}




  
  

