main{
    background-color: #1e1e1e;

    .jumbo{
        position: relative;
        display: flex;
        justify-content: center;

        img{
            max-height: 50vh;
            width: 100%;
            object-fit: cover;
            object-position: center;
            filter: hue-rotate(70deg) brightness(0.7);
        }

        h1{
            position: absolute;
            align-self: center;
            color: white;
            font-family: minecraft;
            margin-top: 50px;
            font-size: xxx-large;
        }
    }

    .shop-container{
        display: flex;
        color: white;

        .left{
            width: 75%;
            .products-container{
                display: flex;
        
                .product{
                    width: calc(25% - 2rem);
                    border: 1px solid white;
                    border-radius: 15px;
                    padding: 1rem;
                    margin: 0 1rem;
                    min-height: 300px;
                    background-color: transparent;
                    transition: all 0.3s;
                }

                .active{
                    background-color: rgba($color: #575757, $alpha: 0.5);
                }
            }
        }

        .right{
            width: 25%;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column-reverse;

            p{
                text-align: center;
                font-size: large;
                font-weight: 900;

                em{
                    font-style: normal;
                }
            }
        }
    }
}