@font-face {
  font-family: minecraft;
  src: url(/fonts/minecraft.ttf?bb2364632c8098d9b448ce5bda4fc26e);
}

@font-face {
  font-family: McRegular;
  src: url(/fonts/McRegular.otf?2c90030680a2fafd21f53fd39a0862e7);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

header {
  position: fixed;
  z-index: 99;
  width: 100%;
  padding: 0.25rem 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-backdrop-filter: blur(2px) brightness(0.7);
          backdrop-filter: blur(2px) brightness(0.7);
}

header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-container .left .logo {
  height: 75px;
  width: 75px;
}

header .header-container .left .logo img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header .header-container .right {
  width: 30%;
}

header .header-container .right nav {
  display: flex;
  justify-content: space-between;
  line-height: 50px;
}

header .header-container .right nav .active {
  border-bottom: 2px solid #df6add;
}

header .header-container .right nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  height: 80%;
  transition: color 0.3s;
  text-transform: uppercase;
}

header .header-container .right nav a:hover {
  border-bottom: 2px solid #df6add;
  color: #df6add;
}

header .header-container .right nav .basket {
  position: relative;
}

header .header-container .right nav .basket img {
  height: 50px;
  width: 50px;
  filter: invert(1);
}

header .header-container .right nav .basket p {
  position: absolute;
  right: -6px;
  top: 0;
  color: white;
  background-color: red;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
}

header .header-container .right nav .basket .visible {
  display: block;
}

header .header-container .right nav .basket .hidden {
  display: none;
}

footer {
  background-color: #0d0d0d;
}

footer .footer-top {
  display: flex;
  padding: 2rem 5rem;
  justify-content: space-between;
}

footer .footer-top .footer-left {
  width: 20%;
}

footer .footer-top .footer-left img {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

footer .footer-top .footer-right {
  display: flex;
  flex-direction: column;
  width: 70%;
  position: relative;
  align-items: center;
  justify-content: center;
}

footer .footer-top .footer-right .footer-sections-container {
  display: flex;
  width: 80%;
}

footer .footer-top .footer-right .footer-sections-container .footer-section {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  margin: 0 2rem;
}

footer .footer-top .footer-right .footer-sections-container .footer-section a {
  text-decoration: none;
  color: #8e8e8e;
  margin-top: 1rem;
  margin-left: 1rem;
}

footer .footer-top .footer-right .footer-sections-container .footer-links {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-evenly;
}

footer .footer-top .footer-right .footer-sections-container .footer-links a {
  color: #8e8e8e;
  text-decoration: none;
  margin: 0 2rem;
  font-weight: 900;
  font-size: large;
  transition: all 0.3s;
}

footer .footer-top .footer-right .footer-sections-container .footer-links a:hover {
  color: white;
}

footer .footer-top .footer-right .social-links {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 5rem;
}

footer .footer-top .footer-right .social-links img {
  height: 50px;
  margin: 1rem 0;
}

footer .footer-top .footer-right .social-links .social-text {
  color: #8e8e8e;
}

footer .footer-top .footer-right .social-links .social-text h1 {
  color: white;
}

footer .footer-top .footer-right .social-links a {
  display: flex;
  justify-content: center;
  transition: all 0.3s;
}

footer .footer-top .footer-right .social-links a:hover {
  transform: scale(1.25);
}

footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 5rem;
  color: #8e8e8e;
}

footer .footer-bottom p {
  font-size: large;
}

footer .footer-bottom p a {
  text-decoration: none;
  color: #df6add;
  font-weight: 900;
}

footer .footer-bottom p:first-of-type a {
  text-decoration: none;
  color: #9f1515;
  font-weight: 900;
}

