main {
  background-color: #1e1e1e;
}

main .cart-container {
  padding: 10rem 0;
}

main .cart-container .cart {
  display: flex;
  width: 100%;
}

main .cart-container .cart .left {
  width: 75%;
  display: flex;
}

main .cart-container .cart .left .text {
  color: white;
  text-align: center;
  width: 100%;
}

main .cart-container .cart .left .product {
  width: calc(33.3333333333% - 2rem);
  border: 1px solid white;
  border-radius: 15px;
  padding: 1rem;
  margin: 0.5rem 1rem;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

main .cart-container .cart .left .product .image {
  height: 60%;
  display: flex;
  align-items: center;
}

main .cart-container .cart .left .product .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

main .cart-container .cart .left .product .price {
  display: flex;
}

main .cart-container .cart .left .product .price p {
  color: red;
  text-decoration: line-through;
}

main .cart-container .cart .left .product .price span {
  align-self: flex-end;
}

main .cart-container .cart .left .product form {
  display: flex;
  justify-content: center;
  width: 100%;
}

main .cart-container .cart .left .product form button {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 2px solid #df6add;
  color: white;
  border-radius: 10px;
  transition: all 0.3s;
  cursor: pointer;
}

main .cart-container .cart .left .product form button:hover {
  background-color: #df6add;
}

main .cart-container .cart .right {
  width: 25%;
}

main .cart-container .cart .right .totale {
  color: white;
}

main .cart-container .cart .right .totale .price {
  display: flex;
  align-items: baseline;
}

main .cart-container .cart .right .continue {
  margin-top: 0.5rem;
}

main .cart-container .cart .right .continue a {
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem;
  border: 2px solid #df6add;
  border-radius: 5px;
  transition: all 0.3s;
}

main .cart-container .cart .right .continue a:hover {
  background-color: #df6add;
}

